/* Stylesheet Table of Contents
 
     1. CSS Resets
	     1.1 Normalize
		   1.2 Admin Fixes
		   1.3 Clearfix
     2. Default Part Styles
     3. Page Layout and Structure
           3.1 Responsive Grid
		   3.2 Layout
           3.3 Flexi Layout
           3.4 Utility Area
           3.5 Quick Search
		   3.6 Skip Link
     4. Menus
           4.1 Global Menu Styles
           4.2 Main Horizontal Navigation
           4.3 Sidebar Navigation
           4.4 Breadcrumb Navigation
           4.5 Footer Navigation
     5. Text
           5.1 Headers 
		        5.1.1 Part Headers
           5.2 Links 
           5.3 Paragraphs
           5.4 Form Field Typographgy
           5.5 Lists 
     6. Buttons
	 	   6.1 Default Buttons
		   6.2 Primary Buttons
		   6.3 Inline Buttons
		   6.4 Cancel Buttons
		   6.5 Disabled Buttons
     7. Forms
           7.1 Special Widths
           7.2 Global Form Styles
           7.3 Validation
		   7.4 Date Pickers
	 8. Pagination
	 9. Progress Indicators
	 10. Images
     11. Tables 
	       11.1 Alternating Rows
		   11.2 Header Rows
		   11.3 Sortable Columns
		   11.4 Borders
		   11.5 Spacing
     12. Other Global Class and ID Definitions
           12.1 Global Classes
           12.2 Replication Classes & ID's
     13. Specific Parts & Styles
           13.1 Page Title
           13.2 Profile Display
           13.3 Transaction Manager
           13.4 Event Registration Form Classic
     14. Print Styles
     15. Responsive
     	   15.1 Mobile
     	   15.2 Tablet
     	   15.3 Desktop

====================================================== */
/*=========================================================================================
                     ::1. CSS RESETS
==========================================================================================*/
/*---------------------------------------------
                     ::1.1 Normalize
----------------------------------------------*/
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=========================================================================================
                     ::2. DEFAULT PART STYLES (minified....do not edit)
==========================================================================================*/
tr[id*="_trDesignationOther"][style*="hidden"] {
  display: none; }

tr[id*="_trDesignationOther"][style=""] {
  display: table-row; }

/*=========================================================================================
                     ::3. PAGE LAYOUT & STRUCTURE
==========================================================================================*/
/*---------------------------------------------
                     ::3.1 Responsive Grid
----------------------------------------------*/
/* -- Foundation 4.3.1 Grid -- */
.row {
  max-width: 62.5em; }

.lt-ie9 .row {
  width: 62.5em; }

/* -- Foundation's box sizing, applying only to container to avoid issues in BBIS/NC admin bar */
.container *,
.container *:before,
.container *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container *, .container *:before, .container *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse .column, .row.collapse .columns {
  padding-left: 0;
  padding-right: 0;
  float: left; }

.row .row {
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  max-width: none;
  width: auto;
  *zoom: 1; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  width: auto;
  *zoom: 1; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.lt-ie9 .row {
  width: 62.5em; }

.lt-ie9 .row .row {
  width: auto; }

.column, .columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
  position: relative; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

.column.small-centered, .columns.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important; }

.large-1 {
  width: 8.33333%; }

.large-2 {
  width: 16.66667%; }

.large-3 {
  width: 25%; }

.large-4 {
  width: 33.33333%; }

.large-5 {
  width: 41.66667%; }

.large-6 {
  width: 50%; }

.large-7 {
  width: 58.33333%; }

.large-8 {
  width: 66.66667%; }

.large-9 {
  width: 75%; }

.large-10 {
  width: 83.33333%; }

.large-11 {
  width: 91.66667%; }

.large-12 {
  width: 100%; }

.large-offset-0 {
  margin-left: 0%; }

.large-offset-1 {
  margin-left: 8.33333%; }

.large-offset-2 {
  margin-left: 16.66667%; }

.large-offset-3 {
  margin-left: 25%; }

.large-offset-4 {
  margin-left: 33.33333%; }

.large-offset-5 {
  margin-left: 41.66667%; }

.large-offset-6 {
  margin-left: 50%; }

.large-offset-7 {
  margin-left: 58.33333%; }

.large-offset-8 {
  margin-left: 66.66667%; }

.large-offset-9 {
  margin-left: 75%; }

.large-offset-10 {
  margin-left: 83.33333%; }

.large-offset-11 {
  margin-left: 91.66667%; }

.large-push-1 {
  left: 8.33333%;
  right: auto; }

.large-pull-1 {
  right: 8.33333%;
  left: auto; }

.large-push-2 {
  left: 16.66667%;
  right: auto; }

.large-pull-2 {
  right: 16.66667%;
  left: auto; }

.large-push-3 {
  left: 25%;
  right: auto; }

.large-pull-3 {
  right: 25%;
  left: auto; }

.large-push-4 {
  left: 33.33333%;
  right: auto; }

.large-pull-4 {
  right: 33.33333%;
  left: auto; }

.large-push-5 {
  left: 41.66667%;
  right: auto; }

.large-pull-5 {
  right: 41.66667%;
  left: auto; }

.large-push-6 {
  left: 50%;
  right: auto; }

.large-pull-6 {
  right: 50%;
  left: auto; }

.large-push-7 {
  left: 58.33333%;
  right: auto; }

.large-pull-7 {
  right: 58.33333%;
  left: auto; }

.large-push-8 {
  left: 66.66667%;
  right: auto; }

.large-pull-8 {
  right: 66.66667%;
  left: auto; }

.large-push-9 {
  left: 75%;
  right: auto; }

.large-pull-9 {
  right: 75%;
  left: auto; }

.large-push-10 {
  left: 83.33333%;
  right: auto; }

.large-pull-10 {
  right: 83.33333%;
  left: auto; }

.large-push-11 {
  left: 91.66667%;
  right: auto; }

.large-pull-11 {
  right: 91.66667%;
  left: auto; }

.column.large-centered, .columns.large-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important; }

.column.large-uncentered, .columns.large-uncentered {
  margin-left: 0;
  margin-right: 0;
  float: left !important; }

/*---------------------------------------------
                     ::3.2 Layout
----------------------------------------------*/
.wrapHeader {
  width: 100%;
  float: left;
  padding: 1.5em 0;
  background: rgba(0, 50, 102, 0.9); }
  .wrapHeader header p {
    margin: 0; }

nav {
  background-color: #333333;
  width: 100%;
  float: left; }

aside.large-3.columns {
  float: left !important; }
  aside.large-3.columns ol {
    margin-top: 3.75em; }
    aside.large-3.columns ol li {
      margin: 0 0 3em; }

footer {
  background: #666666;
  color: #fff;
  padding: 1.25em 0; }
  footer p {
    margin: 0;
    padding: 0; }

/*---------------------------------------------
                     ::3.3 Flexi Layout
----------------------------------------------*/
/*---------------------------------------------
                     ::3.4 Utility Area
----------------------------------------------*/
/*---------------------------------------------
                     ::3.5 Quick Search
----------------------------------------------*/
header[role="banner"] table.QuickSearchFormTable {
  width: auto;
  position: relative;
  float: right;
  display: table; }

header[role="banner"] > h1 + table.QuickSearchFormTable {
  display: table !important; }

#toggleSearchIcon {
  display: none; }

/*---------------------------------------------
                     ::3.6 Skip Link
----------------------------------------------*/
p.skip {
  height: 0;
  padding: 0;
  margin: 0; }

a.skip {
  position: absolute;
  top: -50em; }

a.skip:hover, a.skip:active, a.skip:focus {
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  background: #fff;
  padding: .5em;
  text-align: center;
  margin: 0 auto 0 -10em;
  width: 20em; }

/*=========================================================================================
                     ::4. MENUS
==========================================================================================*/
/*---------------------------------------------
                     ::4.1 Global Menu Styles
----------------------------------------------*/
/* menu list reset */
ul.menu, ul.menu ul, nav ul {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

#toggleNavIcon {
  display: none; }

/*---------------------------------------------
                     ::4.2 Main Horizontal Navigation
----------------------------------------------*/
nav ul.mainNav {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding: 0; }

nav ul.mainNav li {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0; }

nav ul.mainNav li a {
  display: block;
  cursor: pointer;
  color: #fff;
  padding: .5em; }

/*---------------------------------------------
                     ::4.3 Sidebar Navigation
----------------------------------------------*/
/*---------------------------------------------
                     ::4.4 Breadcrumb Navigation 
----------------------------------------------*/
.wrapBreadcrumbs ul.menu {
  font-size: 0.813em;
  line-height: 2.308em; }

.wrapBreadcrumbs ul li {
  display: none; }

.wrapBreadcrumbs li.selected, .wrapBreadcrumbs ul {
  display: inline; }

.wrapBreadcrumbs ul li.selected a {
  text-decoration: none; }

.wrapBreadcrumbs ul li li.selected a {
  padding-left: 1em;
  position: relative; }

.wrapBreadcrumbs ul li li.selected a:before {
  content: "\00bb";
  width: 2em;
  position: relative;
  left: -0.5em;
  top: -0.077em; }

.wrapBreadcrumbs ul li li.selected a:before:hover {
  text-decoration: none !important; }

/*---------------------------------------------
                     ::4.5 Footer Navigation
----------------------------------------------*/
/*=========================================================================================
                     ::5. TEXT
==========================================================================================*/
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem; }

/*---------------------------------------------
                     ::5.1 Headers
----------------------------------------------*/
/*** All headings ***/
h1,
h2, *.BBFormTitle, *.EventCalendarName, *.SpellFormTitle, *.ReportTitle, *.LoginSectionHeader, *.DonationListingHeading, *.DonationCaptureListingHeading, *.EventSectionHeader, *.FRDonorListSetCaption, *.FRCommentsFieldSet .FRFieldSetCaption, *.ECardWizardHeading, *.UpcomingEventTitle, *.RecentEventTitle, *.SearchFormTable .SearchFormTitle, *.CHFormTitle, *.NCC_Forms_Title, *.BBMembershipFormTitle, *.BBDocumentFormTitle, *.SubscriptionFormTitle, *.BBAnonymousSubscriptionTitle, *.BBVolOpJobListTitle, *.BBVolOpJobDetailTitle, *.PostChannelStoryFormTitle, *.ReportsLandingTable caption, *.SearchJobHeading, *.JobResultsHeading, *.ClassPageHeaderClassName, *.UPMPartEditToolbarTitle, *.myHomeBox th,
h3, *.CalendarFormLegend, *.ListViewDateLabel, *.DetailCaption, *.NewsReaderFormTitle, *.EventItemTitleTime, *.EventItemTitleName, *.EventItemRegistrationsHeader, *.EventItemRegistrantsEventName, *.NewsChannelItemTitle, *.FRSectionHeader, *.FRFieldSetCaption, *.DiscussionGroupHeadingText, *.PostDiscussionReplyHeading, *.PostDiscussionPreviewHeading, *.SurveySubTitle, *.SpellHeading, table.ReportFormTable legend, fieldset .CHFormTitle, *.CalendarViewTopMiddle, *.ReportListingHeading, *.NCC_Forms_Subtitle, *.DiscussionTopicSubject, *.OCCHeader, *.ClassPageHeaderPageName,
h4, *.DetailEventTitle, *.ListViewEventDate, *.ClassPageHeaderTeacherName, *.ClassPageHeaderTeacherEmail,
h5,
h6 {
  margin: 0 0 0.5em;
  padding: 0;
  font-weight: bold;
  color: #000;
  font-family: 'Roboto Slab',serif;
  line-height: normal;
  text-align: left; }

/*** <h1>, main part titles, and other elements requiring similar emphasis ***/
h1 {
  font-size: 2em;
  clear: both;
  margin-top: .5em; }

/*** <h2>, sub titles within parts, and other elements requiring similar emphasis ***/
h2, *.BBFormTitle, *.EventCalendarName, *.SpellFormTitle, *.ReportTitle, *.LoginSectionHeader, *.DonationListingHeading, *.DonationCaptureListingHeading, *.EventSectionHeader, *.FRDonorListSetCaption, *.FRCommentsFieldSet .FRFieldSetCaption, *.ECardWizardHeading, *.UpcomingEventTitle, *.RecentEventTitle, *.SearchFormTable .SearchFormTitle, *.CHFormTitle, *.NCC_Forms_Title, *.BBMembershipFormTitle, *.BBDocumentFormTitle, *.SubscriptionFormTitle, *.BBAnonymousSubscriptionTitle, *.BBVolOpJobListTitle, *.BBVolOpJobDetailTitle, *.PostChannelStoryFormTitle, *.ReportsLandingTable caption, *.SearchJobHeading, *.JobResultsHeading, *.ClassPageHeaderClassName, *.UPMPartEditToolbarTitle, *.myHomeBox th {
  font-size: 1.5em; }

*.SurveyTitle, *.ReportTitle, *.NCC_Forms_Title, *.SearchFormTitle, *.EventCalendarName, *.BBMembershipFormTitle, *.BBDocumentFormTitle, *.DiscussionGroupFormTitle, *.JobBoardFormTitle, *.EventSectionHeader, *.LoginSectionHeader, *.LoginFormTitle, *.DonationListingHeading, *.DonationCaptureListingHeading, *.CalendarFormLegend, *.DirectoryFormTitle, *.CalendarFormLegend, *.ProfileFormTitle, *.DiscussionGroupHeadingCell, *.BBPollsFormTitle, *.NewsChannelFormTitle, *.FRSectionHeader {
  padding: 0.5em 0;
  margin: 0; }

*.SurveyTitle {
  font-size: 1em; }

/*** <h3>, minor element headings, and other elements requiring similar emphasis ***/
h3, *.CalendarFormLegend, *.ListViewDateLabel, *.DetailCaption, *.NewsReaderFormTitle, *.EventItemTitleTime, *.EventItemTitleName, *.EventItemRegistrationsHeader, *.EventItemRegistrantsEventName, *.NewsChannelItemTitle, *.FRSectionHeader, *.FRFieldSetCaption, *.DiscussionGroupHeadingText, *.PostDiscussionReplyHeading, *.PostDiscussionPreviewHeading, *.SurveySubTitle, *.SpellHeading, table.ReportFormTable legend, fieldset .CHFormTitle, *.CalendarViewTopMiddle, *.ReportListingHeading, *.NCC_Forms_Subtitle, *.DiscussionTopicSubject, *.OCCHeader, *.ClassPageHeaderPageName {
  font-size: 1.33em; }

*.SurveySubTitle {
  font-size: 0.92em; }

/*** <h4> and other elements requiring similar emphasis ***/
h4, *.DetailEventTitle, *.ListViewEventDate, *.ClassPageHeaderTeacherName, *.ClassPageHeaderTeacherEmail {
  font-size: 1.17em; }

/*** <h5> and other elements requiring similar emphasis ***/
h5 {
  font-size: 1em;
  margin: 0; }

/*** <h6> and other elements requiring similar emphasis ***/
h6 {
  font-size: 1em;
  margin: 0;
  font-style: italic; }

/*---------------------------------------------
                     ::5.1.1 Part Headers
----------------------------------------------*/
/*---------------------------------------------
                     ::5.2 Links
----------------------------------------------*/
/*** <a> and relavent classes applied by BBNC/BBIS  ***/
a, a.LoginLink, a.PhotoLink, a.Album_BackToPhotosLink, a.Album_AlbumNameLink, a.Album_AlbumActionItem, a.BBLinkHelpIcon, a.PaymentPartClearLink, a.EventCalendarButtons, a.ListViewEventTitle, a.BBFormDisplayHelpImage, a.DiscussionTopicLink, a.DiscussionSearchLink, a.JobBoardSearchLink, a.JobBoardPostLink, a.JobResultsLink {
  color: #CB4631;
  /* $link-color */
  text-decoration: none;
  /*transition: all 0.54s ease 0s;  commented out because Matt C. despises transitions. */
  cursor: pointer; }

a:hover, a.LoginLink:hover, a.PhotoLink:hover, a.Album_BackToPhotosLink:hover, a.Album_AlbumNameLink:hover, a.Album_AlbumActionItem:hover, a.BBLinkHelpIcon:hover, a.PaymentPartClearLink:hover, a.EventCalendarButtons:hover, a.ListViewEventTitle:hover, a.BBFormDisplayHelpImage:hover, a.DiscussionTopicLink:hover, a.DiscussionSearchLink:hover, a.JobBoardSearchLink:hover, a.JobBoardPostLink:hover, a.JobResultsLink:hover {
  text-decoration: underline;
  color: #AD3826;
  /* $link-hover-color */ }

/* tab links */
/* event links in steps */
/* recaptcha links*/
/* readmore links*/
.readMore {
  display: block;
  float: right;
  text-transform: right;
  font-size: 0.85em;
  text-transform: uppercase; }

/*---------------------------------------------
                     ::5.3 Paragraphs
----------------------------------------------*/
p, table.BBListingTable p {
  padding: 0;
  margin: 0 0 1.15em;
  line-height: 1.25em;
  font-size: 1em;
  white-space: normal; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

blockquote, q {
  margin: 0 40px; }

q:before, q:after {
  content: ''; }

pre, code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

pre {
  white-space: pre-line;
  word-wrap: break-word; }

small {
  font-size: 0.85em; }

sub, sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*other text classes */
.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

/*---------------------------------------------
                     ::5.4 Form Fields Typography
----------------------------------------------*/
/*---------------------------------------------
                     ::5.5 Lists
----------------------------------------------*/
ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: disc outside none;
  padding: 0 0 0 25px; }

ol {
  list-style: decimal outside none;
  padding: 0 0 0 30px; }

ul.square {
  list-style: square outside none; }

ul.circle {
  list-style: circle outside none; }

ul ul, ul ol, ol ol, ol ul {
  margin: 5px 0px; }

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px;
  margin-bottom: 12px; }

ul.large li {
  line-height: 21px; }

li p {
  line-height: 21px; }

/*=========================================================================================
                     ::6. Buttons
==========================================================================================*/
/*---------------------------------------------
                     ::6.1 Default Buttons
----------------------------------------------*/
input[type="submit"], input[type="button"], input.BBFormSubmitButton, button, a.BBFormDisplayLinkButton, a.PaymentPart_UpdateCartLink, a.PaymentPart_CartItemRemoveText, a[id$="UpdateLink"], a[id$="btnInsert"], a[id$="InsertLink"], div[id$="pnlAddNew"] a, a.CommandButton, a[id$="ExpandCollapseLinkButton"], a[id$="NewMessageHyperlink"], div[id$="MessageView1_ActionsMenu"] a[value="16"], div[id$="PanelOnlineStatus"] + div + div + div ul li a, table.ProfilePhotoFormTable input[value="Update"], table.ProfilePhotoFormTable input[value="Remove Photo"], a[id$="LinkButtonYes"], input[id$="btnSave"].DonorGrantSubmitButton, input[id$="btnCancel"].DonorGrantSubmitButton, input.QuickSearchButton, a.BBDocumentTabButton, a.BBDocumentEditButtonWAI, a.BBDocumentApproveButtonWAI {
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  line-height: 2;
  padding: 0 1em;
  border: 0 none;
  background-color: #333333;
  color: white; }

/* Default Button Hovers */
/*---------------------------------------------
                     ::6.2 Primary Buttons
----------------------------------------------*/
input.BBFormSubmitButton, #submitButton button, input.BBSequenceMapNavigationNextButton, input.BBSequenceMapNavigationFinishButton, input[type="submit"], a[id$="NewMessageHyperlink"], div[id$="MessageView1_ActionsMenu"] a[value="16"], table.ProfilePhotoFormTable input[value="Select Image"], a[id$="LinkButtonYes"], a.loiDonateLink, span.buttonPrimary > a, input[value*="Save and Continue"], a.BBDocumentTabButton {
  background: #333333;
  color: white; }

/* Primary Button Hovers */
input#submitDonation[type="submit"] {
  float: right;
  margin-right: 6.5em; }

section.large-7.columns input[type="submit"] {
  margin: 0 1em 2.5em 0;
  padding: 0 1.2em;
  font-size: 15px;
  line-height: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: right; }

.repoBtn {
  color: white;
  border: 1px solid #3da437;
  box-shadow: inset 0 1px 0 0 #a3cfa0;
  background-color: #6abe65;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6abe65), color-stop(100%, #42b03b));
  background-image: -webkit-linear-gradient(#6abe65, #42b03b);
  background-image: linear-gradient(#6abe65, #42b03b);
  text-shadow: 0 1px 0 #329b2c;
  background-clip: padding-box;
  padding: .35em 1em;
  display: block;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .repoBtn:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #81bf7e;
    cursor: pointer;
    background-color: #5db258;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5db258), color-stop(100%, #3ea338));
    background-image: -webkit-linear-gradient(#5db258, #3ea338);
    background-image: linear-gradient(#5db258, #3ea338); }
  .repoBtn:active:not(:disabled) {
    border: 1px solid #3da437;
    box-shadow: inset 0 0 8px 4px #3b9735, inset 0 0 8px 4px #3b9735, 0 1px 1px 0 #eeeeee; }
  .repoBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/*---------------------------------------------
                     ::6.3 Inline Buttons
----------------------------------------------*/
input.SearchButton[id$="btnSearch"], input.FundSummarySubmitButton[name$="btnRefresh"], a.PaymentPart_CartItemRemoveText, input.ListViewDateRangeGoButton, a.BBFormDisplayLinkButton, a.DiscussionGroupSubmitButton[value="Search"], a.BBDocumentEditButtonWAI, a.BBDocumentDeleteButtonWAI {
  margin: 0 0 0 1em;
  padding: 0 0.5em;
  line-height: 1.6;
  /* Should match the height of your inputs */ }

/*---------------------------------------------
                     ::6.4 Cancel Buttons (Styled to look like links by default)
----------------------------------------------*/
input[type="reset"], input[type="submit"][name*="btnCancel"], input[type="button"][value="Previous"], input[value="Cancel"] {
  border: 0 none transparent !important;
  background: none;
  color: #34b1eb;
  text-decoration: underline !important;
  line-height: inherit;
  cursor: pointer !important; }

/*---------------------------------------------
                     ::6.5 Disabled Buttons
----------------------------------------------*/
input[type="submit"][disabled], input[type="button"][disabled], a.aspNetDisabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important; }

/*=========================================================================================
                     ::7. FORMS
==========================================================================================*/
input#addressBox, input#cityBox, input#stateBox {
  display: none; }

/*---------------------------------------------
                     ::7.1 Special Widths
----------------------------------------------*/
/*---------------------------------------------
                     ::7.2 Global Form Styles
----------------------------------------------*/
input {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
  -ms-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
  -webkit-appearance: none !important;
  outline: none !important;
  -webkit-transition: border 700ms ease-in-out;
  -moz-transition: border 700ms ease-in-out;
  -ms-transition: border 700ms ease-in-out;
  -o-transition: border 700ms ease-in-out;
  transition: border 700ms ease-in-out; }
  input::-webkit-input-placeholder {
    color: #BABABA;
    font-style: italic; }
  input::-moz-placeholder {
    color: #BABABA;
    font-style: italic; }
  input:-moz-placeholder {
    color: #BABABA;
    font-style: italic; }
  input:-ms-input-placeholder {
    color: #BABABA;
    font-style: italic; }
  input:focus {
    border: 1px solid #999; }

input.valid:focus {
  -webkit-box-shadow: 0 0 5px green;
  -moz-box-shadow: 0 0 5px green;
  -ms-box-shadow: 0 0 5px green;
  -o-box-shadow: 0 0 5px green;
  box-shadow: 0 0 5px green;
  border: 1px solid green;
  background: #fff; }

input.invalid:focus {
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  border: 1px solid red;
  background: #fff; }

input.invalid {
  background: #ff9999; }

select {
  outline: none !important; }

/*---------------------------------------------
                     ::7.3 Validation
----------------------------------------------*/
/*---------------------------------------------
                     ::7.3 Date Picker
----------------------------------------------*/
img.ui-datepicker-trigger {
  margin-left: -2em;
  margin-bottom: -3px; }

/*=========================================================================================
                     ::8. PAGINATION
==========================================================================================*/
div.BBPager, span.PagedListFooter, span.PagedListHeader, span.BBPagerDataResults {
  text-align: center;
  display: block; }

a.PagedListFooterLink:link, span.PagedListFooter span, span.PagedListFooter a:link, div.BBPager a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  line-height: 1.75;
  padding: 0 0.5em;
  margin: 0;
  background-color: transparent;
  color: inherit;
  border: 1px solid #AAA; }

div.BBPager {
  padding: 1em 0; }

div.BBPager a {
  margin: 0 0.15em; }

span.BBPagerDataResults, span[id$="lblFooter"] {
  font-size: 0.9em;
  font-style: italic; }

span.PagedListFooter span, div.BBPager a.BBPagerPageSelectedLink {
  background: #222;
  /* $client-color-background */
  color: #FFF;
  /* $client-color-background-invert */ }

a.PagedListFooterLink:hover, span.PagedListFooter span:hover, span.PagedListFooter a:hover, div.BBPager a:hover {
  background: #999;
  /* transparentize($client-color-background, 0.5) */
  color: #FFF;
  /* $client-color-background-invert */ }

/* Hiding inactive controls */
span.PagedListFooter span[id$="lblFirst"], span.PagedListFooter span[id$="lblPrevious"], span.PagedListFooter span[id$="lblNext"], span.PagedListFooter span[id$="lblLast"], span.PagedListHeader span[id$="lblFirst"], span.PagedListHeader span[id$="lblPrevious"], span.PagedListHeader span[id$="lblNext"], span.PagedListHeader span[id$="lblLast"] {
  display: none; }

/* Reset Pagination Label */
span.PagedListFooter span[id$="lblFooter"], span.PagedListHeader span[id$="lblHeader"] {
  color: inherit;
  background-color: inherit;
  border: 0;
  padding: 0;
  display: block; }

span.PagedListFooter a[id$="lnkFirst"], span.PagedListFooter a[id$="lnkPrevious"], span.PagedListFooter a[id$="lnkNext"], span.PagedListFooter a[id$="lnkLast"], span.PagedListHeader a[id$="lnkFirst"], span.PagedListHeader a[id$="lnkPrevious"], span.PagedListHeader a[id$="lnkNext"], span.PagedListHeader a[id$="lnkLast"] {
  border: 0; }

/*=========================================================================================
                     ::9. PROGRESS INDICATORS
==========================================================================================*/
/* Indicator row */
table[id$="tblProgress"] {
  background: #999;
  /* transparentize($client-color-background, 0.5) */
  color: #FFF;
  /* $client-color-background-invert */
  /* Counter for numbering steps */
  counter-reset: step 0; }

/* Global Styles */
table[id$="tblProgress"] th {
  position: relative;
  padding: 0.5em 1em 0.5em 5em; }

table[id$="tblProgress"] th:first-child {
  padding: 0.5em 1em 0.5em 4em; }

/* Step Number */
table[id$="tblProgress"] th:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 2em;
  margin: -0.9em 0 0;
  line-height: 1.8;
  width: 1.8em;
  /* Counter for numbering steps */
  counter-increment: step;
  content: counter(step) " ";
  background: #FFF;
  /* $client-color-background-invert */
  color: #999;
  /* transparentize($client-color-background, 0.5) */
  border-radius: 100%; }

table[id$="tblProgress"] th:first-child:before {
  left: 1em; }

/* Progress Arrow */
table[id$="tblProgress"] th:after {
  display: block;
  position: absolute;
  right: -2em;
  top: 0;
  bottom: 0;
  content: "";
  height: 0;
  width: 0;
  border-width: 1.65em 1em;
  border-style: solid;
  border-color: transparent transparent transparent #999;
  /* transparentize($client-color-background, 0.5) */
  z-index: 1; }

table[id$="tblProgress"] th:last-child:after, table[id$="tblProgress"] th.EventProgressCell:last-child:after {
  display: none; }

/* Current */
table[id$="tblProgress"] th.EventProgressCell {
  background-color: #222;
  /* $client-color-background */
  color: #FFF;
  /* $client-color-background-invert */ }

table[id$="tblProgress"] th.EventProgressCell:before {
  color: #222;
  /* $client-color-background */ }

table[id$="tblProgress"] th.EventProgressCell:after {
  border-color: transparent transparent transparent #222;
  /* $client-color-background */ }

/*=========================================================================================
                     ::10. IMAGES
==========================================================================================*/
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.imgLeft {
  float: left;
  margin: 0 0.5em 0.5em 0; }

.imgRight {
  float: right;
  margin: 0 0 0.5em 0.5em; }

/*=========================================================================================
                     ::11. TABLES
==========================================================================================*/
table.BBListingTable th, table.BBListingTable td {
  padding: 0 1em;
  line-height: 2; }

/*---------------------------------------------
                     ::11.1 Alternating Rows
----------------------------------------------*/
tr.BBListEvenRowStyle > td, table.BBListingTable tr:nth-child(even) > td.BBListingItem {
  background-color: #eee; }

/*---------------------------------------------
                     ::11.2 Header Rows
----------------------------------------------*/
table.BBListingTable th, tr.JobResultsListHeader td, tr.BBDocumentDisplayHeaderRow td, tr.DiscussionSearchHeader td, tr.DiscussionTopicListHeader td {
  background: #222;
  /* $client-color-background */
  color: #FFF;
  /* $client-color-background-invert */
  text-align: left;
  font-weight: bold; }

/*---------------------------------------------
                     ::11.3 Sortable Columns
----------------------------------------------*/
table.BBListingTable th a, tr.BBDocumentDisplayHeaderRow td a {
  background: #222;
  /* $client-color-background */
  color: #FFF;
  /* $client-color-background-invert */
  text-align: left;
  display: block;
  text-decoration: none;
  padding: 0 1em;
  margin: 0 -1em; }

table.BBListingTable th a:hover, tr.BBDocumentDisplayHeaderRow td a:hover {
  background: #999;
  /* transparentize($client-color-background, 0.5) */
  text-decoration: none; }

/*---------------------------------------------
                     ::11.4 Borders
----------------------------------------------*/
table.BBListingTable td.BBListingItem, tr.BBListEvenRowStyle > td, tr.BBListOddRowStyle > td {
  border-bottom: 1px dotted #AAA; }

/*=========================================================================================
                     ::12. OTHER GLOBAL CLASS & ID DEFINITIONS
==========================================================================================*/
/*---------------------------------------------
                     ::12.1 Global Classes
----------------------------------------------*/
/*---------------------------------------------
                     ::12.2 Replication Classes & ID's
----------------------------------------------*/
/*=========================================================================================
                     ::13. SPECIFIC PARTS & STYLES
==========================================================================================*/
/*---------------------------------------------
                     ::13.1 Page Title
----------------------------------------------*/
/*---------------------------------------------
                     ::13.2 Profile Display
----------------------------------------------*/
/*---------------------------------------------
                     ::13.3 Transaction Manager
----------------------------------------------*/
/*---------------------------------------------
                     ::13.4 Event Registration Form Classic
----------------------------------------------*/
/*---------------------------------------------
                     ::13.5 Donation Form
----------------------------------------------*/
table.BBFormTable.DonationFormTable, aside.large-3.columns {
  display: none !important; }

.hideOnMobile {
  display: none; }

ol#optimizedDonateForm {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  max-width: 100%; }
  ol#optimizedDonateForm li {
    float: none;
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
    position: relative;
    /*.cscHelp:hover {
    	width: 20.5em;
    	z-index: 1;
    	position: relative;
    	box-shadow: 0 0 3px 1px #ccc inset;
    	background-color: rgba(239, 239, 239, 1);
    	
    	em {display: none;}
    	
    	div {display: inline-block;}
    	}*/ }
    ol#optimizedDonateForm li label {
      text-align: right;
      width: 30%;
      padding-right: .5em;
      display: inline-block;
      font-weight: 700;
      position: relative;
      cursor: pointer; }
    ol#optimizedDonateForm li input, ol#optimizedDonateForm li select {
      display: inline-block;
      position: relative;
      width: auto; }
    ol#optimizedDonateForm li select {
      padding: .25em; }
    ol#optimizedDonateForm li input {
      width: 50%;
      height: 2.5em;
      padding: 0 .25em;
      z-index: 2;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    ol#optimizedDonateForm li input.shorter {
      width: 6em; }
    ol#optimizedDonateForm li input.short {
      width: 10em; }
    ol#optimizedDonateForm li input#cardNumber + span.cardTypeEnt {
      display: none;
      overflow: hidden;
      white-space: nowrap;
      text-indent: 100%;
      position: absolute;
      height: 35px;
      right: 7.5em;
      top: 3px;
      background: url(document.doc?id=88) no-repeat 0 0;
      background: url(../css/cardType.svg) no-repeat 0 0;
      z-index: 100;
      -webkit-transition: background 300ms ease;
      -moz-transition: background 300ms ease;
      -ms-transition: background 300ms ease;
      -o-transition: background 300ms ease;
      transition: background 300ms ease; }
    ol#optimizedDonateForm li input#cardNumber.cardTypeAmEx + span.cardTypeEnt {
      background-position: -82px 0;
      display: inline-block;
      width: 27px; }
    ol#optimizedDonateForm li input#cardNumber.cardTypeMastercard + span.cardTypeEnt {
      background-position: 0 0;
      display: inline-block;
      width: 37px; }
    ol#optimizedDonateForm li input#cardNumber.cardTypeVisa + span.cardTypeEnt {
      background-position: -38px 0;
      display: inline-block;
      width: 42px; }
    ol#optimizedDonateForm li input#cardNumber.cardTypeDiscover + span.cardTypeEnt {
      background-position: -108px 0;
      display: inline-block;
      width: 42px; }
    ol#optimizedDonateForm li #cscCode {
      right: -4px; }
    ol#optimizedDonateForm li#stateBox, ol#optimizedDonateForm li#cityBox, ol#optimizedDonateForm li#addressBox {
      display: none; }
    ol#optimizedDonateForm li .cscCodeIcon {
      position: relative;
      color: #003266;
      font-size: 1.5em;
      display: inline-block;
      z-index: 200;
      font-family: FontAwesome;
      right: 1.5em;
      top: 2px; }
    ol#optimizedDonateForm li .cscHelp {
      width: 8em;
      top: 14px;
      overflow: hidden;
      position: relative;
      left: -1.75em;
      display: inline-block;
      padding: 0.85em 1em;
      font-size: 80%;
      border-radius: 0 9px 9px 0;
      height: 3.1em;
      background-color: rgba(239, 239, 239, 0);
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      cursor: text; }
      ol#optimizedDonateForm li .cscHelp em {
        left: -3px;
        position: relative; }
      ol#optimizedDonateForm li .cscHelp div {
        display: none; }
    ol#optimizedDonateForm li #giveAmount + dl {
      width: auto;
      display: inline-block;
      position: relative;
      margin: 0 0 0 .35em;
      padding: 0;
      top: .75em; }
      ol#optimizedDonateForm li #giveAmount + dl dd {
        float: left;
        width: auto;
        display: inline-block;
        position: relative;
        margin: 0 2em 0 0;
        padding: 0; }
        ol#optimizedDonateForm li #giveAmount + dl dd input[type="radio"] {
          display: none;
          width: 0;
          height: 0;
          cursor: pointer;
          float: left; }
        ol#optimizedDonateForm li #giveAmount + dl dd label {
          display: inline-block;
          padding-left: 0;
          padding-right: 0;
          padding: .35em .65em .25em;
          float: right;
          width: auto;
          text-align: left;
          cursor: pointer;
          text-shadow: 0 0 1px #333;
          color: #fff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
          background: rgba(0, 50, 102, 0.9);
          font-weight: 400;
          font-size: 1.45em; }
          ol#optimizedDonateForm li #giveAmount + dl dd label::before {
            content: '\f155';
            display: inline-block;
            text-shadow: 0 0 1px #333;
            font-weight: 400;
            font-family: FontAwesome;
            font-size: 60%;
            top: -.35em;
            position: relative; }

ol#optimizedDonateForm li #giveAmount + dl dd input[type="radio"]:checked + label {
  background: green; }

.userFirstLastNameOption {
  display: none;
  font-size: 12px;
  color: #eee;
  font-style: normal;
  clear: both;
  padding: 0;
  width: 90%;
  position: relative;
  top: -1px; }
  .userFirstLastNameOption i[class*="icon"]:before {
    font-family: FontAwesome;
    font-style: normal; }

.userFirstLastNameOption.on {
  font-weight: 400;
  padding: .75em .5em .3em;
  color: #000;
  display: block;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-out; }
  .userFirstLastNameOption.on i[class*="icon"] {
    background: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
    -ms-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
    -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15) inset;
    padding: .5em 1em;
    display: inline-block;
    margin-top: .65em;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    color: #999; }
    .userFirstLastNameOption.on i[class*="icon"]:before {
      color: #999;
      content: '\f055';
      padding-right: .3em;
      font-size: 16px; }
  .userFirstLastNameOption.on i[class*="icon"].active {
    content: 'Close';
    color: #999; }
    .userFirstLastNameOption.on i[class*="icon"].active:before {
      content: '\f057';
      color: #ff6666; }

li.mailingName {
  display: none; }

.iconClearField {
  font-family: FontAwesome;
  position: absolute;
  font-style: normal;
  display: none;
  color: #ccc;
  cursor: pointer;
  right: 6.75em;
  padding: .65em;
  z-index: 200;
  top: 0; }

.iconClearField.hide {
  display: none; }

ol#optimizedDonateForm li label[for="cscCode"] + .iconClearField {
  display: none !important; }

/*=========================================================================================
                     ::14. PRINT STYLES
==========================================================================================*/
/*=========================================================================================
                     ::15. RESPONSIVE STYLES
==========================================================================================*/
/*=========================================================================================
                     ::15.1 MOBILE
==========================================================================================*/
@media (max-width: 768px) {
  .wrapHeader header p {
    width: 90%;
    margin: 0 auto; }

  section.large-7.columns, aside.large-3.columns {
    padding: 1em; }
    section.large-7.columns h1, aside.large-3.columns h1 {
      margin-top: 0; }

  table.QuickSearchFormTable input.QuickSearchTextbox {
    display: none; }

  input.QuickSearchButton[id*="btnQuickSearch"] {
    background: transparent;
    color: #ccc;
    padding: 0;
    margin: 0; }

  #toggleSearchIcon {
    display: inline-block;
    float: right;
    color: #999;
    padding: 0 1em 1em 0;
    position: relative; }

  #toggleSearchIcon:before {
    font-family: FontAwesome;
    content: "\f002";
    font-style: normal;
    background-color: #333333;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: .25em .5em;
    cursor: pointer;
    position: relative;
    top: -2.75em; }

  #toggleSearchIcon.active:before {
    content: "\f00D"; }

  /*
  header[role="banner"] table.QuickSearchFormTable
  {
  	display: none;
  }
  header #toggleSearchIcon.active + table.QuickSearchFormTable
  {
  	display: table;
  	position: relative;
  	top:0;
  }*/
  nav.visible {
    position: fixed;
    top: -30px;
    z-index: 300; }

  nav ul.mainNav {
    display: none;
    padding: 0 0 .5em;
    clear: both; }

  nav i#toggleNavIcon.active ul.mainNav {
    display: block; }

  nav ul.mainNav > li {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px; }

  nav ul.mainNav > li:first-child {
    margin-left: 0; }

  nav ul.mainNav > li > a {
    padding: 0.5em 0 0.5em 1.5em;
    margin-bottom: .5em; }

  nav i#toggleNavIcon {
    display: block;
    float: right;
    padding-right: .75em;
    font-style: normal; }

  nav i#toggleNavIcon:after {
    content: 'Menu';
    display: inline-block;
    color: #fff;
    font-size: 1.15em;
    cursor: pointer;
    font-family: 'Open Sans',sans-serif;
    cursor: pointer;
    line-height: 1; }

  nav i#toggleNavIcon.active:after {
    content: 'Close';
    color: #999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

  nav i#toggleNavIcon:before {
    display: inline-block;
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 1.5em;
    padding: .25em .3em .35em 0;
    position: relative;
    top: 2px;
    color: #fff;
    cursor: pointer; }

  nav i#toggleNavIcon.active:before {
    content: '\f057';
    padding-bottom: .75em;
    color: #999;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.9); }

  select#cardExpMonth {
    margin-right: .65em; }

  input#submitDonation[type="submit"] {
    margin-right: 2em; }

  ol#optimizedDonateForm li label {
    display: block; }

  ol#optimizedDonateForm li label#giveAmount + dl {
    margin: 0;
    top: 0; }

  ol#optimizedDonateForm li input#cardNumber + span.cardTypeEnt {
    right: 13%;
    top: 1.95em; }

  ol#optimizedDonateForm li .iconClearField {
    right: 1.75em;
    top: 1.85em; }

  ol#optimizedDonateForm li .iconClearField + input#cardNumber + span.cardTypeEnt {
    right: 25%;
    top: 1.95em; }

  li#zipBox {
    width: 10.15em; }

  ol#optimizedDonateForm li label[for="zip"] + .iconClearField {
    right: 0.25em; }

  footer p {
    width: 90%;
    margin: 0 auto; }

  /*============================================== END max-width 768px */ }
@media (max-width: 640px) {
  header[role="banner"] h1 {
    display: none; }

  section.large-7.columns, aside.large-3.columns {
    width: 100%;
    display: block;
    clear: both; }

  ol#optimizedDonateForm {
    width: 95%;
    max-width: none;
    margin: 0 0 0 5%; }
    ol#optimizedDonateForm li {
      margin-bottom: 1.5em; }
      ol#optimizedDonateForm li label {
        padding-bottom: .65em;
        padding-right: 0;
        text-align: left;
        width: 100%; }
      ol#optimizedDonateForm li input {
        width: 90%; }
        ol#optimizedDonateForm li input [class*="short"] {
          width: inherit; }
      ol#optimizedDonateForm li label#giveAmount + dl {
        margin: 0; }
        ol#optimizedDonateForm li label#giveAmount + dl dd {
          padding-right: 0 !important;
          margin-right: 1.5em; }
          ol#optimizedDonateForm li label#giveAmount + dl dd label {
            padding: 0.35em 0.5em; }
      ol#optimizedDonateForm li .cscHelp.active {
        height: 4.5em;
        width: 22em;
        right: .5em;
        margin-bottom: 1em;
        box-shadow: 0 0 3px 1px #ccc inset;
        background-color: #efefef; }
        ol#optimizedDonateForm li .cscHelp.active em {
          display: none; }
      ol#optimizedDonateForm li .cscHelp.active::after {
        content: '\f057 Close';
        display: inline-block;
        font-family: FontAwesome;
        color: red;
        cursor: pointer; }
      ol#optimizedDonateForm li .cscHelp {
        right: 7em;
        width: 8em;
        top: 0;
        position: relative;
        overflow: hidden;
        height: 2.1em; }
        ol#optimizedDonateForm li .cscHelp em {
          display: inline-block;
          width: 8em; } }
@media (max-width: 480px) {
  nav ul.mainNav > li {
    width: 100%; } }
/*=========================================================================================
                     ::15.2 TABLET
==========================================================================================*/
@media (min-width: 800px) {
  nav ul.mainNav[style] {
    display: block !important; } }
/*=========================================================================================
                     ::15.3 DESKTOP
==========================================================================================*/
@media (min-width: 721px) {
  .hideOnMobile {
    display: block; } }
