/*=========================================================================================
                     ::11. TABLES
==========================================================================================*/
table.BBListingTable th, table.BBListingTable td {
	padding:0 1em;
	line-height:2;
}
/*---------------------------------------------
                     ::11.1 Alternating Rows
----------------------------------------------*/
tr.BBListEvenRowStyle>td, table.BBListingTable tr:nth-child(even)>td.BBListingItem{
background-color: #eee;
}
 
/*---------------------------------------------
                     ::11.2 Header Rows
----------------------------------------------*/
table.BBListingTable th, tr.JobResultsListHeader td, tr.BBDocumentDisplayHeaderRow td, tr.DiscussionSearchHeader td, tr.DiscussionTopicListHeader td {
	background:#222; /* $client-color-background */
	color:#FFF; /* $client-color-background-invert */
	text-align:left;
	font-weight:bold;
}
 
/*---------------------------------------------
                     ::11.3 Sortable Columns
----------------------------------------------*/
table.BBListingTable th a, tr.BBDocumentDisplayHeaderRow td a {
	background:#222; /* $client-color-background */
	color:#FFF; /* $client-color-background-invert */
	text-align:left;
	display:block;
	text-decoration:none;
	padding:0 1em;
	margin:0 -1em;
}
table.BBListingTable th a:hover, tr.BBDocumentDisplayHeaderRow td a:hover {
	background:#999; /* transparentize($client-color-background, 0.5) */
	text-decoration:none;
}
/*---------------------------------------------
                     ::11.4 Borders
----------------------------------------------*/
table.BBListingTable td.BBListingItem, tr.BBListEvenRowStyle>td, tr.BBListOddRowStyle>td {
border-bottom:1px dotted #AAA;
}
